.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}
h1 {
  margin: 0;
}
.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header p {
  margin: 0;
}
.tooltip {
  min-height: 40px;
}
.controll {
  flex: 1;
}

.first_row {
  margin-bottom: 20px;
}

.controll button {
  border: none;
  border-radius: 5px;
  margin: 3px;
  background-color: #2f54ebe8;
  color: #fff;
  padding: 20px;
  font-size: 32px;
}
.controll button:hover {
  filter: drop-shadow(3px 3px 1px white);
  cursor: pointer;
}
.controll button:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}
.controll button.stop {
  background-color: #f5222de8;
}
.controll button.random {
  background-color: #722ed1e8;
}
.controll button.go {
  background-color: #53c41ae8;
}
.controll button.reset {
  background-color: #fa8c16e8;
}
.controll button.clear {
  background-color: #f5222de8;
}
.controll button.preset {
  background-color: #13c2c2e8;
}
.controll select {
  font-size: 32px;
  border-radius: 5px;
  height: 80px;
  margin-right: 3px;
}
.Game-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.cell {
  display: flex;
}

.Game-grid.disabled .border {
  border: 5px dashed #e2232e;
  padding: 5px;
}
.Game-grid button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.Game-grid button.alive:hover {
  filter: invert(65%);
}

.Game-grid button.dead:hover {
  filter: invert(65%);
}

.Game-grid button:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}
button.dead {
  background-color: #fff;
  color: #000;
}
button.alive {
  background-color: #000;
  color: #fff;
}
